if not orders['completed_orders']
    h3 No Completed Orders
else
    table
        caption Completed Orders
        tr
            th Placed
            th Activated
            th Completed
            th TABLE
            th QTY
            th ITEMS
            th Notes
            //th(class="right") TOTAL

        each order, index in orders['completed_orders']
            each prod, qty, item in products['completed_products'][index]
                if item == 0
                    - var span = products['completed_products'][index]|length
                    tr(class="separator top")
                        td(rowspan=span) {{order.placed}}
                        td(rowspan=span) {{order.activated}}
                        td(rowspan=span) {{order.completed}}
                        td(rowspan=span) {{order.table_number}}
                        td {{qty}}
                        td {{prod}}
                        td {{ order.notes }}
                        //td(rowspan=span class="right") {{order.total_price}} lei

                else
                    tr
                        td {{qty}}
                        td {{prod}}
